/* Reset all margin, padding, and border to 0 */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove anchor text decoration */
a {
  text-decoration: none;
}

/* Make images block-level elements */
img {
  display: block;
}
